.btn{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10px;
	background-color: white;
    color: black;
    border: 1px solid gray;
    width: 250px;
}
#hed{

	text-align: left;
	margin-left: 50px;
	margin-top: 30px;
	margin-bottom: 25px

}

#line1{
	background-color: black;
}

#cont{
	background-color: 	#1a53ff;

}

.images{
	width: 400px;
	height: 400px;
	margin-top: 70px;
}

#file{
	margin-top: 0px;
}

.count{
	margin-top: 25px;

}

#footer{

	background-color: black;
}

#colr{
	background-color: #111111;
}

#es{
	padding-top: 55px;
	padding-bottom: 55px;
}

.navbtn {
  background-color: white;
  border: none;
  color: black;
  padding: 0px 0px;
  text-align: center;
  font-size: 17px;
  margin: 4px 2px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.navbtn:hover {opacity: 1}

#soci{
	color:red;
	width: 20px;
	margin-left: 20px;
	padding-left: 0px;
	margin-top: 10px;
}

#fot{
	font-size: 12px;
}

#las{
	margin-top: 25px;
	margin-left:85px;
	color:darkgray;
	font-size:12px;
}

.imgs{
	margin-left: 80px;
}



* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 90px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 5px 35px 20px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;


}

.nav > .nav-links > a {
  display: inline-block;
  padding: 30px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:1116px) {
  .nav-title {
    display: inline-block;
    position: absolute;
    right: 100px;
    top: 0px;
    left: -80px;
  }

 @media (max-width:1116px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 25px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.Depo {
  column-count: 3;
}

.column {
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#ig{
	margin-left: 100px;
}
